
.check {
  width: 14px;
  height: 14px;
  position: absolute;
/*  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin: auto;
}

.check input {
  display: none;
}

.check input:checked + .box {
  background-color: lightgreen;
  border: 1px solid black;
  border-radius:3px;
}

.check input:checked + .box:after {
  transform: rotate(-45deg) translateY(0);
}

.check .box {
  width: 100%;
  height: 100%;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid black;
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius:3px;
  box-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.1), 0px 0px 1.5px rgba(13, 13, 13, 0.39);  
}

.check .box:after {
  width: 50%;
  height: 20%;
  content: '';
  position: absolute;
  border-left: 1.8px solid ;
  border-bottom: 1.5px solid;
  border-color: #000000;
  transform-origin: center center;
  /*transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);*/
  left: 0;
  right: 0;
  transform: translateY(500%) rotate(-45deg);
  bottom: calc(40%);
  margin: auto;
}

.border {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08); 
  border-radius:3px; 
  border:1px solid #DDDDDD; 
  position:absolute; 
  left:-15px; 
  width:750px !important;
}

.thumb {
  border-top:3px solid black; 
  border-left:1px solid black; 
  border-right:1px solid black; 
  border-bottom:3px solid black; 
  border-radius:2px;
  -webkit-user-select: none
}

.thumbh {
  border-radius:3px; 
  border-top:3px solid black; 
  border-left:1px solid black; 
  border-right:1px solid black; 
  border-bottom:3px solid black; 
  background:black;  
  -webkit-user-select: none
}

.thumbh:hover {
  border-radius:3px; 
  border-top:3px solid grey; 
  border-left:1px solid grey; 
  border-right:1px solid grey; 
  border-bottom:3px solid grey; 
  background:black;  
  -webkit-user-select: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8); 
}

.wordmorphbutton {
  font-size:12px; 
  border:1px  dashed black; 
  border-radius:4px;
  box-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.1), 0px 0px 1.5px rgba(13, 13, 13, 0.39);
  -webkit-user-select: none;
}

.wordmorphbutton:hover {
  border:1px dashed gray; 
  box-shadow: 0px 0px 2px black;
}

.tables {
  border: 1px solid black;
  width:750px;
  left:5px;
  transform: translate(-15px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08); 
}